<div class="info hidden">
    <div class="section-main">
        <form class="search-small">
            <input type="search" autocomplete="off" placeholder="введите имя игрока и нажмите Enter">
            <div class="btn compare" data-title="Нажмите для режима сравнения игроков">сравнить</div>
            <div class="clear"></div>
        </form>
        <h1 class="username"></h1>
        <ul class="someter"></ul>
        <h1>Общие результаты</h1>
        <ul class="summary table"></ul>
        <h1>Боевая эффективность</h1>
        <ul class="battle_stats table"></ul>
        <h1>Типы техники</h1>
        <ul class="types table"></ul>
        <h1>Нации</h1>
        <ul class="nations table"></ul>
    </div>
    <div class="section-compare"></div>
</div>
