<div class="main">
  <a href="/" class="logo"></a>

  <div class="results"></div>
</div>

<form class="search-form hidden">
    <input type="search" autocomplete="off" placeholder="введите имя игрока и нажмите Enter">
</form>

<div class="loader hidden"></div>

<footer class="footer">
  <ul class="version">
    <li class="current-v">
      <span>v. 0.3.0</span>
      <ul class="changelog">
        <li>
          <p><strong>0.1.0</strong></p>
          <p>Поиск и просмотр статистики</p>
        </li>
        <li>
          <p><strong>0.2.0</strong></p>
          <p>Реорганизация кода, улучшение производительности</p>
        </li>
        <li>
          <p><strong>0.3.0</strong></p>
          <p>Добавлена возможность сравнения статистики. Отображение данных по последнему запросу, кеширование статистики</p>
        </li>
      </ul>
    </li>
  </ul>
  <p class="copyright">
    Все права на используемые изображения и статистические данные пользователей пренадлежать <a href="http://wargaming.net" target="blank_">Wargaming.net</a>
  </p>
</footer>
